<div id="big_container" ng:style="StyleBigContainer">
	<div class="container background" id="background" ng:style="StyleBackground">
		<div class="inner_background" id="inner_background" ng:style="StyleInnerBackground">	<div id="contact">
				<h2>N'hésitez pas à nous contacter</h2>
				<p>
					8, rue Sainte Foy<br />
					75002 Paris
				</p>
				<p>
					email : <a href="mailto:hello@lafabriquedexperiences.fr">hello@lafabriquedexperiences.fr</a>
				</p>
			</div>
		</div>		
	</div> <!-- / .container background -->
</div> <!-- / .big_container -->